.logo{
  width: 20%;
  padding-top: 5%;
}

.QuadroDeBase{
  width: 80%;
  border: solid;
  border-width: 1px;
  border-color: white;

}

.Text{
  cursor: pointer;
  width: 100%;
  color: white;
  text-align: center;

}

.RodapeText{
 font-size: 15px;

}

.Footer{
  margin-top: 30%;

}
