/* .logo{
  width: 20%;
  padding-top: 5%;
} */

.bordTopo{
  border-color: white;
  border-style: solid;
  border-width: 1px;
  height: 10%;
  overflow:hidden;
}

.bord2{
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

.bord3{
  border-color: white;
  border-style: solid;
  border-width: 1px;
  height: 30%;
}
.bord4{
  padding-top: 30px ;
  padding-bottom: 30px;
}

.bord5{
  border-color: white;
  border-style: solid;
  border-width: 1px;
  height: 50px;

}

.bord6{
  border-color: white;
  border-style: solid;
  border-width: 1px;
  height: auto;

}

.RodapeText{
  font-size: 15px;
}
