<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Relíquia
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <ion-grid class="ion-text-center ion-align-items-center bordTopo">
    <ion-row class="Topo">
      <ion-col class="color1"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter-left icone1" viewBox="0 0 16 16">
        <path d="M2 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
      </svg></ion-col>
      <ion-col class="color2"> </ion-col>
      <ion-col class="color3"><img src="/assets/img/Logo.png" class="Logo"></ion-col>
      <ion-col class="color4"></ion-col>
      <ion-col class="color5"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill icone2" viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="bord2">
    <ion-row>

      <ion-col size="12">
       <ion-searchbar></ion-searchbar>
      </ion-col>

    </ion-row>
  </ion-grid>
  <ion-grid class="bord3">
    <ion-row>
      <ion-col>

      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="bord4">
    <ion-row>
      <ion-col class="bord5"></ion-col>
      <ion-col class="bord5"></ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="bord6">
   <ion-row>
     <ion-col></ion-col>
   </ion-row>
  </ion-grid>
</ion-content>
